<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <system.serviceModel>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="Metadata">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="meta" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <services>
      <service behaviorConfiguration="Metadata" name="UsandoSelfHost.Service.ClienteService">
        <endpoint address="basic" binding="basicHttpBinding" name="basic"
          contract="UsandoSelfHost.Service.IClienteService" />
        <endpoint address="ws" binding="wsHttpBinding" name="ws" contract="UsandoSelfHost.Service.IClienteService" />
        <endpoint address="net.tcp://localhost:8081/ServiceClient/tcp" binding="netTcpBinding"
          name="tcp" contract="UsandoSelfHost.Service.IClienteService" />
        
        <!-- 
        Se colocar httpGetUrl="meta" no behavior não precisa criar o endpoint
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          name="meta" contract="IMetadataExchange" />
        A não ser que queira com outro binding. Ex:
        -->
        <endpoint address="net.tcp://localhost:8081/ServiceClient/mex" binding="netTcpBinding"
          name="meta" contract="IMetadataExchange" />
        
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/ServiceCliente/" />
          </baseAddresses>
        </host>
        
      </service>
    </services>

  </system.serviceModel>
  
</configuration>