<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  
  <system.serviceModel>
    <services>
      <service name="DemosClient.Service.AniversarianteService">

        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8080/AniversariantesService/" />
          </baseAddresses>
        </host>

        <endpoint address="basic" binding="basicHttpBinding" contract="DemosClient.Service.IAniversarianteService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>

      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel>

</configuration>
